h1 {
  color: blue;
  text-align: center;
  font-family: Arial;
}

body {
  font-family: arial;
  color: black;
}

html {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU84KF-xXc-s81JLKmqBZuwXXrspupH55amQ&usqp=CAU);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
}